@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-BoldItalic.woff2") format("woff2");
  font-display: swap;
}
